@import url("https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;500;600;700&display=swap");
*,
:after,
:before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Rubik", sans-serif;
}
html {
  scroll-behavior: smooth;
}
body {
  background-color: rgb(39, 39, 39);
  color: rgb(238, 238, 238);
  overflow-x: hidden;
}
.menu {
  background-color: transparent;
  border: none;
  cursor: pointer;
  display: flex;
  padding: 0;
}
.line {
  fill: none;
  stroke: rgb(255, 255, 255);
  stroke-width: 6;
  transition: stroke-dasharray 600ms cubic-bezier(0.4, 0, 0.2, 1),
    stroke-dashoffset 600ms cubic-bezier(0.4, 0, 0.2, 1);
}
.line1 {
  stroke-dasharray: 60 207;
  stroke-width: 6;
}
.line2 {
  stroke-dasharray: 60 60;
  stroke-width: 6;
}
.line3 {
  stroke-dasharray: 60 207;
  stroke-width: 6;
}
.opened .line1 {
  stroke-dasharray: 90 207;
  stroke-dashoffset: -134;
  stroke-width: 6;
}
.opened .line2 {
  stroke-dasharray: 1 60;
  stroke-dashoffset: -30;
  stroke-width: 6;
}
.opened .line3 {
  stroke-dasharray: 90 207;
  stroke-dashoffset: -134;
  stroke-width: 6;
}

#container {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
}
.upper-nav {
  background-color: rgb(56, 56, 56);
}
.navbar {
  color: rgb(238, 238, 238);
  font-size: 20px;
  padding: 0px 30px;
}
#menutext {
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 150px;
  padding: 15px 30px;
  height: 100%;
}
#menutext:hover {
  background-color: rgb(88, 88, 88);
}
#container > .fc {
  margin-top: 30px;
}
#menu {
  display: flex;
  align-items: center;
  flex-direction: column;
}
#breakfast {
  margin-top: 20px;
}
section {
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 600px;
  margin-top: 30px;
  background-color: rgb(56, 56, 56);
  padding: 10px 10px;
  border-radius: 10px;
}
section > h3 {
  font-size: 26px;
}
.info p,
.info h3 {
  margin-top: 5px;
}
.info {
  display: flex;
  flex-direction: column;
  align-items: center;
}
img {
  min-width: 100%;
  max-width: 100%;
  height: auto;
  border-radius: 10px;
  margin-top: 10px;
}
.price {
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 500;
  color: rgb(252, 252, 252);
}
.ul {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin: 0px 20px;
}
.openedmenu {
  position: absolute;
  width: 150px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: rgb(238, 238, 238);
  font-size: 20px;
  background-color: rgb(56, 56, 56);
  transition: 0.4s;
}
.openedmenu a {
  color: rgb(238, 238, 238);
  text-decoration: none;
  width: 100%;
  padding: 10px 30px;
  transition: 0.4s;
}
.openedmenu li:hover {
  background-color: rgb(88, 88, 88);
}
.openedmenu ul {
  list-style: none;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.openedmenu li {
  width: 150px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: 0.4s;
}
@media only screen and (max-width: 660px) {
  section {
    width: 90%;
  }
  section > h3 {
    font-size: 22px;
  }
}
@media only screen and (max-width: 440px) {
  section {
    width: 90%;
  }
  section > h3 {
    font-size: 22px;
  }
}
@media only screen and (max-width: 410px) {
  section > h3 {
    font-size: 18px;
  }
}
